# MacOS
**/.DS_Store

# Local Terraform directories
**/.terraform/*
**/terraform.tfstate.d/*

# Local State files
*.tfstate
*.tfstate.
variables.tfvars
tfplan

terraform\.tfvars

terraform\.tfstate\.backup

**/**.vscode
/.project
